body{

border: 1px solid green;
backgroundcolor: #FF00FF;
width: 80%;
height: 100px;
margin-left: auto;
margin-right: auto;

}

@media(min-width: 992px){

	.box1Hs{
		border: 33.33%;
	}

	.box2Hs{
		border: 33.33%;
	}

	.box3Hs{
		border: 33.33%;
	}

}


@media(min-width: 768px) and (max-width: 991px){

	.box1Ms{
		border: 33.33%;
	}

	.box2Ms{
		border: 33.33%;
	}

	.box3Ms{
		border: 33.33%;
	}

}

@media(max-width: 767px){

	.box1Ls{
		border: 33.33%;
	}

	.box2Ls{
		border: 33.33%;
	}

	.box3Ls{
		border: 33.33%;
	}

}
